@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@variant dark (&:where(.dark, .dark *));

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@theme {
	--font-display: 'Inter', ui-sans-serif, system-ui;

	--breakpoint-3xl: 1920px;
	--breakpoint-2xl: 1536px;
	--breakpoint-xl: 1280px;
	--breakpoint-lg: 1024px;
	--breakpoint-md: 768px;
	--breakpoint-sm: 640px;
	--breakpoint-xs: 475px;

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-info: var(--info);
	--color-info-foreground: var(--info-foreground);
	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);
	--color-warning: var(--warning);
	--color-warning-foreground: var(--warning-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--color-background-st: var(--background-st);
	--color-foreground-st: var(--foreground-st);
	--color-muted-st: var(--muted-st);
	--color-muted-foreground-st: var(--muted-foreground-st);
	--color-primary-st: var(--primary-st);
	--color-primary-foreground-st: var(--primary-foreground-st);
	--color-secondary-st: var(--secondary-st);
	--color-secondary-foreground-st: var(--secondary-foreground-st);
	--color-accent-st: var(--accent-st);
	--color-accent-foreground-st: var(--accent-foreground-st);
	--color-info-st: var(--info-st);
	--color-info-foreground-st: var(--info-foreground-st);
	--color-success-st: var(--success-st);
	--color-success-foreground-st: var(--success-foreground-st);
	--color-warning-st: var(--warning-st);
	--color-warning-foreground-st: var(--warning-foreground-st);
	--color-destructive-st: var(--destructive-st);
	--color-destructive-foreground-st: var(--destructive-foreground-st);
	--color-popover-st: var(--popover-st);
	--color-popover-foreground-st: var(--popover-foreground-st);
	--color-card-st: var(--card-st);
	--color-card-foreground-st: var(--card-foreground-st);
	--color-border-st: var(--border-st);
	--color-input-st: var(--input-st);
	--color-ring-st: var(--ring-st);

	--radius-st: var(--radius-st);

	--color-sidebar: var(--sidebar-background);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);

	--radius-xl: calc(var(--radius) + 4px);
	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@layer base {
	:root {
		--background: oklch(98% 0 0);
		--foreground: oklch(10% 0 0);
		--card: oklch(83% 0 0);
		--card-foreground: oklch(10% 0 0);
		--popover: oklch(88% 0 0);
		--popover-foreground: oklch(10% 0 0);
		--primary: oklch(80% 0 0);
		--primary-foreground: oklch(10% 0 0);
		--secondary: oklch(75% 0 0);
		--secondary-foreground: oklch(10% 0 0);
		--muted: oklch(96% 0 0);
		--muted-foreground: oklch(40% 0 0);
		--accent: oklch(80% 0 0);
		--accent-foreground: oklch(10% 0 0);
		--destructive: oklch(75% 0.2 27);
		--destructive-foreground: oklch(10% 0.2 27);
		--border: oklch(90% 0 0);
		--input: oklch(90% 0 0);
		--ring: oklch(80% 0 0);
		--chart-1: oklch(80% 0.2 120);
		--chart-2: oklch(80% 0.2 165);
		--chart-3: oklch(80% 0.2 210);
		--chart-4: oklch(80% 0.2 255);
		--chart-5: oklch(80% 0.2 300);
		--radius: 0.5rem;
		--sidebar-background: oklch(98% 0 0);
		--sidebar-foreground: oklch(10% 0 0);
		--sidebar-primary: oklch(80% 0 0);
		--sidebar-primary-foreground: oklch(10% 0 0);
		--sidebar-accent: oklch(80% 0 0);
		--sidebar-accent-foreground: oklch(10% 0 0);
		--sidebar-border: oklch(90% 0 0);
		--sidebar-ring: oklch(80% 0 0);

		--background-st: oklch(94% 0 0);
		--foreground-st: oklch(10% 0 0);
		--card-st: oklch(83% 0 0);
		--card-foreground-st: oklch(10% 0 0);
		--popover-st: oklch(88% 0 0);
		--popover-foreground-st: oklch(10% 0 0);
		--primary-st: oklch(80% 0 0);
		--primary-foreground-st: oklch(10% 0 0);
		--secondary-st: oklch(75% 0 0);
		--secondary-foreground-st: oklch(10% 0 0);
		--muted-st: oklch(92% 0 0);
		--muted-foreground-st: oklch(40% 0 0);
		--accent-st: oklch(80% 0 0);
		--accent-foreground-st: oklch(10% 0 0);
		--destructive-st: oklch(60% 0.2 27);
		--destructive-foreground-st: oklch(100% 0 0);
		--border-st: oklch(36.9% 0 0);
		--input-st: oklch(90% 0 0);
		--ring-st: oklch(80% 0 0);
		--radius-st: 0.5rem;
	}

	.dark {
		--background: oklch(63.9% 0 0);
		--foreground: oklch(100% 0 0);
		--card: oklch(17% 0 0);
		--card-foreground: oklch(90% 0 0);
		--popover: oklch(20% 0 0);
		--popover-foreground: oklch(90% 0 0);
		--primary: oklch(60% 0 0);
		--primary-foreground: oklch(96% 0 0);
		--secondary: oklch(40% 0 0);
		--secondary-foreground: oklch(96% 0 0);
		--muted: oklch(35% 0 0);
		--muted-foreground: oklch(70% 0 0);
		--accent: oklch(40% 0 0);
		--accent-foreground: oklch(96% 0 0);
		--destructive: oklch(40% 0.2 31);
		--destructive-foreground: oklch(98% 0.2 31);
		--border: oklch(40% 0 0);
		--input: oklch(40% 0 0);
		--ring: oklch(30% 0 0);
		--chart-1: oklch(50% 0.2 120);
		--chart-2: oklch(50% 0.2 165);
		--chart-3: oklch(50% 0.2 210);
		--chart-4: oklch(50% 0.2 255);
		--chart-5: oklch(50% 0.2 300);
		--radius: 0.5rem;
		--sidebar-background: oklch(15% 0 0);
		--sidebar-foreground: oklch(98% 0 0);
		--sidebar-primary: oklch(25% 0 0);
		--sidebar-primary-foreground: oklch(96% 0 0);
		--sidebar-accent: oklch(20% 0 0);
		--sidebar-accent-foreground: oklch(90% 0 0);
		--sidebar-border: oklch(40% 0 0);
		--sidebar-ring: oklch(30% 0 0);

		--background-st: oklch(63.9% 0 0);
		--foreground-st: oklch(100% 0 0);
		--card-st: oklch(17% 0 0);
		--card-foreground-st: oklch(90% 0 0);
		--popover-st: oklch(20% 0 0);
		--popover-foreground-st: oklch(90% 0 0);
		--primary-st: oklch(39.6% 0 0);
		--primary-foreground-st: oklch(96% 0 0);
		--secondary-st: oklch(33% 0 0);
		--secondary-foreground-st: oklch(96% 0 0);
		--muted-st: oklch(57% 0 0);
		--muted-foreground-st: oklch(70% 0 0);
		--accent-st: oklch(40% 0 0);
		--accent-foreground-st: oklch(96% 0 0);
		--destructive-st: oklch(40% 0.2 31);
		--destructive-foreground-st: oklch(98% 0.2 31);
		--border-st: oklch(40% 0 0);
		--input-st: oklch(40% 0 0);
		--ring-st: oklch(30% 0 0);
		--radius-st: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer base {
	:root {
		--bgTexture: oklch(96.3% 0 0 / 0.369);
		--bgTexture1: oklch(89.5% 0 0 / 0.963);
	}
	.dark {
		--bgTexture: oklch(25.7% 0 0 / 0.639);
		--bgTexture1: oklch(21.5% 0 0 / 0.963);
	}
}

.sacred-background {
	background-color: rgb(255, 255, 255);
	background-image: radial-gradient(closest-side, var(--bgTexture) 98%, var(--bgTexture1) 99%),
		radial-gradient(closest-side, var(--bgTexture) 98%, var(--bgTexture1) 99%);
	background-size: 30px 30px;
	background-position:
		0 0,
		15px 15px;
}

.sacred-background-small {
	background-color: rgb(255, 255, 255);
	background-image: radial-gradient(closest-side, var(--bgTexture) 98%, var(--bgTexture1) 99%),
		radial-gradient(closest-side, var(--bgTexture) 98%, var(--bgTexture1) 99%);
	background-size: 10px 10px;
	background-position:
		0 0,
		5px 5px;
}

button {
	cursor: pointer;
}
